{% style %}
    .comfort-club-plan {
        margin: 1rem auto 4rem auto;
    }

    .comfort-club-plan__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 2rem 1.5rem;
        border: 2px solid black;
    }

    .comfort-club-plan__wrapper .comfort-club-plan__current,
    .comfort-club-plan__wrapper .comfort-club-plan__advantages {
        width: 100%;
        line-height: 1.3;
        color: black;
        font-family: 'Avenir';
    }

    .comfort-club-plan__wrapper .comfort-club-plan__current {
        text-align: center;
    }
    .comfort-club-plan__wrapper .comfort-club-plan__current .comfort-club-plan__text {
        margin: 0;
        font-size: 18px;
    }
    .comfort-club-plan__wrapper .comfort-club-plan__current .comfort-club-plan__heading {
        margin: 1rem 0;
        font-family: Celine Sans;
        font-weight: 400;
        font-size: 36px;
        line-height: 1;

    }
    .comfort-club-plan__wrapper .comfort-club-plan__advantages ul {
        padding-left: 1.5rem;
        font-size: 18px;
    }

    @media only screen and (min-width: 769px) {
        .comfort-club-plan__wrapper {
            gap: 2.5rem;
            padding: 2.5rem;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }

        .comfort-club-plan__wrapper .comfort-club-plan__current,
        .comfort-club-plan__wrapper .comfort-club-plan__advantages {
            width: 40%;
        }

        .comfort-club-plan__wrapper .comfort-club-plan__current .comfort-club-plan__text {
            font-size: 24px;
        }
        .comfort-club-plan__wrapper .comfort-club-plan__current .comfort-club-plan__heading {
            margin: 1.5rem 0;
            font-size: 50px;
            line-height: 41.55px;
        }
        .comfort-club-plan__wrapper .comfort-club-plan__advantages ul {
            font-size: 24px;
        }
    }
{% endstyle %}


{% liquid
    if customer.tags contains 'swell_vip_comfort connoiseeur'
        assign plan_name = 'Comfort Connoisseur'
        assign plan_advantages = section.settings.connoiseeur_description
    elsif customer.tags contains 'swell_vip_comfort lover'
        assign plan_name = 'Comfort Lover'
        assign plan_advantages = section.settings.lover_description
        capture plan_upgrade_requirements
            echo "Spend another <span upgrade-amount>--</span> and become a <br/>" 
            if section.settings.connoiseeur_url != blank
                echo "<a href='" | append: section.settings.connoiseeur_url | append: "'>Comfort Connoisseur</a>."
            else
                echo "Comfort Connoisseur."
            endif
        endcapture
    else
        assign plan_name = 'Comfort Seeker'
        assign plan_advantages = section.settings.seeker_description
        capture plan_upgrade_requirements
            echo "Spend another <span upgrade-amount>--</span> and become a <br/>" 
            if section.settings.lover_url != blank
                echo "<a href='" | append: section.settings.lover_url | append: "'>Comfort Lover</a>."
            else
                echo "Comfort Lover."
            endif
        endcapture
    endif
%}

<comfort-club-plan >
    <div class="comfort-club-plan container">
        <div class="comfort-club-plan__wrapper">
            <div class="comfort-club-plan__current">
                <p class="comfort-club-plan__text">You're currently a</p>
                <h2 class="comfort-club-plan__heading" plan-name>{{ plan_name }}</h2>
                {% if plan_upgrade_requirements != blank %}
                    <p class="comfort-club-plan__text">
                        {{ plan_upgrade_requirements }}
                    </p>
                {% endif %}
            </div>
            <div class="comfort-club-plan__advantages" plan-advantages>
                {{ plan_advantages }}
            </div>
        </div>
    </div>
</comfort-club-plan>