{%- render 'hero', section: section, loyalty: true -%}

{% schema %}
{
  "name": "Loyalty Hero",
  "class": "shopify-section--loyalty section-comfort-loyalty",
  "tag": "section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "image_picker",
      "id": "mobile_image",
      "label": "Mobile image",
      "info": "1000 x 1400px .jpg recommended. If none is set, desktop image will be used."
    },
    {
      "type": "color",
      "id": "bg",
      "label": "Background",
      "default": "#F0EEE7"
    },
    {
      "type": "select",
      "id": "transition_type",
      "label": "Transition type",
      "options": [
        {
          "value": "sweep",
          "label": "Sweep"
        },
        {
          "value": "reveal",
          "label": "Reveal"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ],
      "default": "sweep"
    },
    {
      "type": "select",
      "id": "content_position",
      "label": "Content position",
      "options": [
        {
          "value": "top_left",
          "label": "Top left"
        },
        {
          "value": "top_center",
          "label": "Top center"
        },
        {
          "value": "top_right",
          "label": "Top right"
        },
        {
          "value": "middle_left",
          "label": "Middle left"
        },
        {
          "value": "middle_center",
          "label": "Middle center"
        },
        {
          "value": "middle_right",
          "label": "Middle right"
        },
        {
          "value": "bottom_left",
          "label": "Bottom left"
        },
        {
          "value": "bottom_center",
          "label": "Bottom center"
        },
        {
          "value": "bottom_right",
          "label": "Bottom right"
        }
      ],
      "default": "bottom_left"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "Content alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "richtext",
      "id": "heading",
      "label": "Heading",
      "default": "<p>Welcome to<br/>The Comfort Club!</p>"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Content",
      "default": "<p>Earn rewards on the products you love, redeem them for discounts, and get closer to the comfort you've been dreaming of.<\/p>"
    },
    {
      "type": "richtext",
      "id": "note",
      "label": "Special note",
      "default": "<p>Already a member? Log In Here.<\/p>"
    }
  ],
  "blocks": [
    {
      "type": "cta",
      "name": "CTA",
      "settings": [
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text",
          "default": "Shop Now"
        },
        {
          "type": "color",
          "id": "color",
          "label": "Color",
          "default": "#000000"
        }
      ]
    }
  ]
}
{% endschema %}
