<div class="yotpo-widget-instance" data-yotpo-instance-id="189509"></div>

{% schema %}
{
  "name": "Account Comfort Club",
  "tag": "section",
  "class": "main-referrals",
  "settings": [],
  "blocks": []
}
{% endschema %}
